*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.bg-container{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

button{
    width:120px;
    height:35px;
    border:none;
    background-color: aqua;
    color:black;
    border-radius:10px;
    font-size:18px;
    font-weight: 700;
    margin-top:20px;
    cursor:pointer;
}